.root{
-fx-background-image: url("bg.jpg");

}

.button {
    -fx-background-radius:1000;
    -fx-text-align: center;
	-fx-border-radius: 1000;
	-fx-cursor: hand;
	-fx-border-color: 'white';
	-fx-border-thickness: 3;
	-fx-text-fill:'white';
	-fx-background-color:'transparent';
	-fx-color:'transparent';
}
.button:hover{
    -fx-text-align: center;

        -fx-background-radius:1000;
        -fx-border-radius: 1000;
     	-fx-cursor: hand;
     	-fx-border-fill-color: 'white';
     	-fx-border-thickness: 3;
     	-fx-text-fill:'black';
     	-fx-background-color:'white';

}



.vbox{
        -fx-background-radius:1000;
        -fx-border-radius: 1000;
      	-fx-border-color: 'white';
      	-fx-border-thickness: 3;
      	-fx-text-fill:'white';
      	-fx-background-color:'transparent';
      	-fx-background-opacity:0.5;

}
.stackpane{
        -fx-border-thickness: 3;
      	-fx-border-color: 'white';
      	-fx-text-fill:'white';
      	-fx-background-color:'transparent';
      	-fx-background-opacity:0.5;

}
.gridpane{
        -fx-border-radius:30;
        -fx-border-thickness: 3;
      	-fx-border-color: 'white';
}
.popupwindow{
        -fx-border-radius:1000;
        -fx-border-thickness: 3;
      	-fx-border-color: 'white';
      	-fx-text-fill:'white';
      	-fx-background-color:'transparent';
      	-fx-background-opacity:0.5;

}

.instructionLabel{

      	-fx-border-radius:10;
      	-fx-border-thickness:3;
      	-fx-border-color:white;
      	-fx-padding: 5 5 5 5;
}
.label{

      	-fx-border-radius:10;


      	-fx-padding: 5 5 5 5;
}
.text {
 -fx-font-smoothing-type: lcd;
}


.list-cell {
    -fx-alignment: center;
}



